<header class="site-header">
    <div class="wrap">
        <h1>
            <a class="site-title" href="{{ site.baseurl }}/">NoYoBo</a>
        </h1>
        <nav class="site-nav">
            <a href="javascript:;" class="menu-icon">
                <i class="fa fa-bars"></i>
            </a>
            <div class="trigger">
                {% for nav in site.navigations %} {% if nav.title %}
                <a class="page-link" href="{{ nav.href }}" title="{{ nav.title }}"><i class="{{ nav.class }}"></i><span>{{ nav.title }}</span></a>
                {% endif %} {% endfor %}
            </div>
        </nav>
    </div>
</header>
