		<div id="header" class="clearfix">
			<header id="logo"> 
				<h1><a href="{{site.url}}" title="{{site.title}}">{{site.title}}</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li{% if page.index %} class="current"{% endif %}><a href="{{site.url}}">I want to say</a></li>
					<li{% if page.archives %} class="current"{% endif %}><a href="{{site.url}}/archives.html">Archives</a></li>
					<li{% if page.tags %} class="current"{% endif %}><a href="{{site.url}}/tags.html">Tags Cloud</a></li>
					<li{% if page.about %} class="current"{% endif %}><a href="{{site.url}}/about.html">Who is noyobo</a></li>
				</ul>
			</nav>
		</div>