		<div id="header" class="clearfix">
			<header id="logo"> 
				<h1><a href="{{site.url}}">{{site.title}}</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li{% if page.index %} class="current"{% endif %}><a href="{{site.url}}">博客</a></li>
					<li{% if page.archives %} class="current"{% endif %}><a href="{{site.url}}/archives">存档</a></li>
					<li{% if page.tags %} class="current"{% endif %}><a href="{{site.url}}/tags">Tags</a></li>
					<li{% if page.about %} class="current"{% endif %}><a href="{{site.url}}/about">关于</a></li>
				</ul>
			</nav>
		</div>