<script>
$(function() {
  return $(".post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.prepend($("<a class='header-link' />").attr("href", "#" + id).html(icon));
    }
  });
});
</script>
<!-- top-scrooll -->
<script type="text/javascript"> $(window).scroll(function() {if ($(this).scrollTop() > 100) {$('.scroll-top').fadeIn(200); } else {$('.scroll-top').fadeOut(200); } }); $('.scroll-top').bind('click', function(e) {e.preventDefault(); $('body,html').animate({scrollTop: 0 }, 200); }); </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>
<!-- mathjax -->
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} });</script>
