/* Site footer */

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -71px;
    height: 50px;
    clear: both;
    font-size: 14px;
}
.footer-heading {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}
.fonter-content{
    text-align: center;
    line-height: 50px;
}
.site-footer ul {
    list-style: none;
}
.site-footer li,
.site-footer p {
    letter-spacing: -.3px;
    color: #B4B4B4;
}
.github-icon-svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
/*.github {
    transition: transform 0.5s ease-out;
}
.github:hover {
    transform: rotateZ(360deg);
}*/