/* ----------------------------------------------------------*/
/*index*/
/* ----------------------------------------------------------*/

li.listing-item time {
    color: #999;
    font-size: 15px;
    padding-right: 1em;
}
time {
    font-family: "Georgia", "Ubuntu", monospace;
}
li.listing-seperator {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #4C4B4B;
    padding-bottom: 20px;
}
li.listing-seperator:before {
    content: "+ ";
    color: #ccc;
}
.home .posts li {
    margin-bottom: 1px;
}
/*标签*/

.fa-calendar:before {
    content: "\f073";
}
.fa-folder-open:before {
    content: "\f07c";
}
.fa-tags:before {
    content: "\f02c";
}
.category li.listing-seperator {
    padding-bottom: 0px;
}
#content {
    text-align: center;
}
#copyright {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #666;
}
#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0px;
}
#copyright a {
    color: #666;
}
/*movies*/

.grid-view {
    font-size: 12px;
    line-height: 1.62;
}
.grid-view .item {
    overflow: auto;
    display: table;
    zoom: 1;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px dashed #ddd;
}
.grid-view .item .info {
    width: 510px;
}
.item .info {
    float: right;
    width: 520px;
    text-align: left;
}
.item .info ul {
    margin-left: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
