/* Base */
/* ----------------------------------------------------------*/
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: tahoma, arial, 'Hiragino Sans GB', Microsoft Yahei, "Helvetica Neue", Helvetica, "Segoe UI", \5b8b\4f53, sans-serif;
    line-height: 1.1;
    font-weight: 300;
    background-color: #FBFBFB;
    color: #333;
}
img {
    max-width: 100%
}
a {
    color: #36c;
    text-decoration: none;
    -webkit-transition: color .35s;
    -moz-transition: color .35s;
    -ms-transition: color .35s;
    -o-transition: color .35s;
    transition: color .35s;
}
a:hover {
    color: #2EB695 !important;
    text-decoration: blink;
}
a:visited {
    color: #c63;
}
/* Utility */

.wrap:before,
.wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.wrap {
    max-width: 830px;
    margin: 0 auto;
    zoom: 1;
    text-align: left;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
    padding-top: 90px;
    padding-bottom: 0px;
    height: auto;
    min-height: 600px;
}
.page-content .wrap {
    padding-bottom: 50px;
}
/* Home styles */
/* ----------------------------------------------------------*/

.home {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.home h1 {
    margin-bottom: 1px;
}
.posts {
    list-style-type: none;
}
.posts li {
    margin-bottom: 10px;
}
.posts .post-link {
    letter-spacing: 0.5px;
    line-height: 1;
    color: #525252;
}

.posts li a:hover {
    color: #dd1144;
}
.posts li a {
    color: #bb2222;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.6;
}
.posts .post-date {
    display: inline-block;
    font-size: 15px;
    color: #818181;
    float: left;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 830px) {
    .wrap {
        padding: 0 10px;
    }
    .page-content{
        padding-top: 20px;
    }
    .post {
        width: auto !important;
    }
    .post-header h1{
        font-size: 1.5em !important;
        margin-top: 0 !important;
    }
    .page-content h2{
        font-size: 1.25em !important;
    }
    .page-content h3,.page-content h4,.page-content h5,.page-content h6{
        font-size: 1em !important;
    }
    .home {
        padding: 0;
    }
    .site-header{
        position: inherit;
    }
    .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px;
        right: 8px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
    }
    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        width: 36px;
        text-align: center;
        line-height: 36px;
    }
    .site-nav .menu-icon svg {
        width: 18px;
        height: 16px;
    }
    .site-nav .trigger {
        clear: both;
        margin-bottom: 5px;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
    }
    .site-nav .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 10px;
        margin: 0;
    }
    .post-header h1 {
        font-size: 36px;
    }
    .post-header {
        text-align: center;
    }
    .post-content h2 {
        font-size: 28px;
    }
    .post-content h3 {
        font-size: 22px;
    }
    .post-content h4 {
        font-size: 18px;
    }
    .post-content blockquote {
        padding-left: 10px;
    }
    .post-content ul,
    .post-content ol {
        padding-left: 10px;
    }
    .site-footer .column {
        float: none;
        clear: both;
        width: auto;
        margin: 0 0 15px;
    }
    .footer-col-1 {
        text-align: center;
    }
    .footer-col-1 a {
        display: none;
    }
    .footer-col-2 {
        display: none;
    }
    .github {
        position: static;
        transition: none;
    }
}
/* ----------------------------------------------------------*/
/*duoshuo-comments*/
/* ----------------------------------------------------------*/

.post #comments {
    padding-top: 50px;
}
.banner {
    position: relative;
    overflow: hidden;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}
.page-content .test {
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
}
.page-content .test img {
    width: 100%;
    height: 100%;
}
/* ----------------------------------------------------------*/
/*lib*/
/* ----------------------------------------------------------*/
@media screen and (max-width: 992px) {
    .site-footer .scroll-top {
        bottom: 0;
        right: 10px;
        font-size: 50px;
    }
}
.fa-arrow-circle-up:before {
    content: "\f0aa";
}
.fa {
    color: #b22;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ----------------------------------------------------------*/
/*返回顶部*/
/* ----------------------------------------------------------*/

.site-footer .scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    z-index: 199;
}
