/* Base */
/* ----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: tahoma, arial, 'Hiragino Sans GB', Microsoft Yahei, "Helvetica Neue", Helvetica, "Segoe UI", \5b8b\4f53, sans-serif;
    line-height: 1.1;
    font-weight: 300;
    background-color: #fdfdfd;
    color: #333;
}
.fa{
    color: #b22;
}
a {
    color: #36c;
    text-decoration: none;
    -webkit-transition: color .35s;
    -moz-transition: color .35s;
    -ms-transition: color .35s;
    -o-transition: color .35s;
    transition: color .35s;
}
a:hover {
    color: #2EB695 !important;
    text-decoration: underline;
}
a:visited {
    color: #c63;
}
/* Utility */

.wrap:before, .wrap:after {
    content: "";
    display: table;
}
.wrap:after {
    clear: both;
}
.wrap {
    max-width: 830px;
    margin: 0 auto;
    zoom: 1;
    text-align: left;
}
/* Page Content styles */
/* ----------------------------------------------------------*/
.page-content {
    padding-top: 90px;
    background-color: #FBFBFB;
    padding-bottom: 0px;
    height: auto;
    min-height: 100%;
}
.page-content .wrap {
    padding-bottom: 50px;
}
/* Home styles */
/* ----------------------------------------------------------*/

.home {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.home h1 {
    margin-bottom: 1px;
}
.posts {
    list-style-type: none;
}
.posts li {
    margin-bottom: 10px;
}
.posts .post-link {
    /* font-size: 20px; */

    letter-spacing: 0.5px;
    line-height: 1;
    /* font-weight: bold; */

    color: #525252;
    /* text-align: left; */
}
/* .post-link :hover{ color:#000000; } */

.posts li a:hover {
    color: #dd1144;
}
.posts li a {
    color: #bb2222;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.6;
}
.posts .post-date {
    display: inline-block;
    font-size: 15px;
    color: #818181;
    float: left;
}
/* Post styles */
/* ----------------------------------------------------------*/

.post {
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
}
.post-header {
    line-height: 3;
}
.post-header h1 {
    font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "楷体", "楷体_GB2312", serif;
    font-size: 2em;
    /*letter-spacing: -1.75px;*/

    line-height: 1.6;
    font-weight: bold;
    color: #36c;
}
.post-header .meta {
    font-size: 13px;
    color: #818181;
}
.post-header .meta .pre {
    font-weight: bold;
    color: #333;
}
.post-header .meta a {} .post-content {
    font-size: 1.1em;
    margin: 0 0 60px;
}
.post-content > * {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.post-content li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.listing li {
    list-style-type: none;
}
/* ----------------------------------------------------------*/

.post-content blockquote {
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    background-color: #EAEAF0;
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 10px solid #A7A7AF;
}
.post-content blockquote p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25
}
.post-content ul, .post-content ol {
    padding-left: 20px;
}
.post ul, .post ol {
    margin-left: 1.35em;
}

/* ----------------------------------------------------------*/
/*duoshuo-comments*/
/* ----------------------------------------------------------*/

.post #comments {
    padding-top: 50px;
}
/*lib*/
/* ----------------------------------------------------------*/

.banner {
    position: relative;
    overflow: hidden;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}
.page-content .test {
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
}
.page-content .test img {
    width: 100%;
    height: 100%;
}
/* ----------------------------------------------------------*/
/*lib*/
/* ----------------------------------------------------------*/

img {
    max-width: 100%
}

/* ----------------------------------------------------------*/
/*返回顶部*/
/* ----------------------------------------------------------*/

.site-footer .scroll-top {
    position: fixed;
    bottom: 100px;
    right: 80px;
    display: none;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    z-index: 199;
}
@media screen and (max-width: 992px) {
    .site-footer .scroll-top {
        bottom: 0;
        right: 10px;
        font-size: 50px;
    }
}

.fa-arrow-circle-up:before {
    content: "\f0aa";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ----------------------------------------------------------*/
/*index*/
/* ----------------------------------------------------------*/

li.listing-item time {
    color: #999;
    font-size: 15px;
}
li.listing-item a {
    padding-left: 2em;
}
time {
    font-family: "Ubuntu", monospace;
}
li.listing-seperator {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #4C4B4B;
    padding-bottom: 20px;
}
li.listing-seperator:before {
    content: "+ ";
    color: #ccc;
}
.home .posts li {
    margin-bottom: 1px;
}
/*标签*/

.fa-calendar:before {
    content: "\f073";
}
.fa-folder-open:before {
    content: "\f07c";
}
.fa-tags:before {
    content: "\f02c";
}
.category li.listing-seperator {
    padding-bottom: 0px;
}
#content {
    text-align: center;
}
#copyright {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #666;
}
#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0px;
}
#copyright a {
    color: #666;
}
/*movies*/

.grid-view {
    font-size: 12px;
    line-height: 1.62;
}
.grid-view .item {
    overflow: auto;
    display: table;
    zoom: 1;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px dashed #ddd;
}
.grid-view .item .info {
    width: 510px;
}
.item .info {
    float: right;
    width: 520px;
    text-align: left;
}
.item .info ul {
    margin-left: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}