.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
position: relative;
margin-top: 1em;
margin-bottom: 16px;
font-weight: bold;
line-height: 1.4;
}
.post-content h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
}
.post-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}
.post-content h3 {
    font-size: 1.5em;
    line-height: 1.43
}
.post-content h4 {
    font-size: 1.25em
}
.post-content h5 {
    font-size: 1em
}
.post-content h6 {
    font-size: 1em;
    color: #777
}
