table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
table th {
    font-size: 1.5em;
}
table tr {
    background-color: #FFF;
    border-top: 1px solid #CCC;
}
table tr:nth-child(2n) {
    background-color: #F8F8F8;
}
table th, table td {
    padding: 6px 13px;
    border: 1px solid #DDD;
}