.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}
.page-content h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
}
.page-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}
.page-content h3 {
    font-size: 1.5em;
    line-height: 1.43
}
.page-content h4 {
    font-size: 1.25em
}
.page-content h5 {
    font-size: 1em
}
.page-content h6 {
    font-size: 1em;
    color: #777
}
