<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->
    <title>{{ page.title }}</title>
    <meta name="Author" content="{{ site.author.name }}">
    <meta name="Keywords" content="{{ page.keywords }}">
    <meta name="Description" content="{{ page.desc}}">
    <link rel="stylesheet" type="text/css" href="/build/css/style-min.css">
</head>

<body>
    <aside id="sidebar">
        <nav id="tags">
            <a href="/index.html" id="avatar"></a>

            <ul id="tags__ul">
                <li class="tags__li tags-btn active" data-tag="pl__all">全部文章</li>
                <li class="tags__li tags-btn" data-tag="blog">杂谈</li>
                <li class="tags__li tags-btn" data-tag="javascript">javascript</li>
                <li class="tags__li tags-btn" data-tag="css">css</li>
                <li class="tags__li tags-btn" data-tag="git">git 笔记</li>
            </ul>

            <div id="tags__bottom">
                <a href="mailto:{{ site.author.email }}" id="icon-email" class="tags-btn fontello"></a>
                <a href="/rss.xml" id="icon-feed" class="tags-btn fontello"></a>
            </div>
        </nav>
        <!-- end #tags -->

        <div id="posts-list">
            <form action="" id="search-form">
                <a href="/index.html" id="mobile-avatar"></a>
                <!-- NOTE: input field is disabled by default -->
                <input id="search-input" type="text" placeholder="Search..." disabled>
            </form>

            <nav id="pl__container">
                {% for post in site.posts %}
                <a class="{% for tag in post.tags %}{{ tag }} {% endfor %}pl__all" href="{{ post.url }}" title="{{ post.title }}">
                    <span class="pl__circle"></span>
                    <span class="pl__title">{{ post.title }}</span>
                    <span class="pl__date">{{ post.date | date: "%y/%m/%d" }}</span>
                </a>
                {% endfor %}
            </nav>
        </div>
        <!-- end #posts-list -->
    </aside>
    <!-- end #sidebar -->

    <div id="post">
        <div id="pjax">
            {{ content }}
            <!-- 分享评论模块 -->
            <div id="post__share">
                <a id="icon-twitter" class="fontello" href="https://twitter.com/intent/tweet?url=http://www.noyobo.com{{ page.url }}&text={{ page.title }}" target="_blank"></a>
                <a id="icon-cc" class="fontello" href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank"></a>
                <a id="icon-weibo" class="fontello" href="http://v.t.sina.com.cn/share/share.php?url=http://www.noyobo.com{{ page.url }}&title={{ page.title }}" target="_blank"></a>
            </div>
            <!-- end #post__share -->

            {% if site.comments == 'duoshuo' %} {% include duoshuo.html %} {% else %} {% include disqus.html %} {% endif %}

            <p id="copyright">Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a>&nbsp;&nbsp;|&nbsp;&nbsp;Theme <a href="https://github.com/P233/3-Jekyll" target="_blank">3-Jekyll</a>
            </p>
        </div>
        <!-- end #pjax -->

        <div id="post__toc-trigger">
            <div id="post__toc">
                <span id="post__toc-title">Table of Contents</span>
                <ul id="post__toc-ul"></ul>
            </div>
        </div>
    </div>
    <!-- end #post -->

    <button id="js-fullscreen">
        <span id="icon-arrow" class="fontello"></span>
    </button>

    <script>var duoshuoQuery = {short_name:"noyobo"};</script>
    <script src="http://static.duoshuo.com/embed.js"></script>
    <script src="/build/js/jquery-2.0.3-min.js"></script>
    <script src="/build/js/jquery-pjax-min.js"></script>
    <script src="/build/js/nprogress-min.js"></script>
    <script src="/build/js/script-min.js"></script>
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fabc83ae4886a46d6e14d29f42ccb60dc' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>
