---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <dev class="meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%A, %-d %B %Y" }}&nbsp;&nbsp;<i class="fa fa-folder-open"></i>{% if page.category %} <a href="/categories/#{{page.category}}">{{ page.category }}</a> {% endif %}&nbsp;&nbsp;<i class="fa fa-tags"></i>{% for tag in page.tags %}&nbsp;&nbsp;<a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}&nbsp;&nbsp;<i class="fa fa-github-alt"></i> <a href="{{ site.github }}{{  page.path }}">Edit on Github</a></div>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <div class="post-footer">
    {%if page.previous %}
    <i class="fa fa-link"></i> <a href="{{page.previous.url}}">{{page.previous.title}} : 上一篇</a><br/>
    {% endif %}
    {%if page.next %}
    <i class="fa fa-link"></i> <a href="{{page.next.url}}">{{page.next.title}} : 下一篇</a>
    {% endif %}
    </div>
    {% include custom/duoshuo.html %}
</div>
